[submodule "modules/crow"]
	path = modules/crow
	url = https://github.com/ipkn/crow.git
[submodule "modules/json"]
	path = modules/json
	url = https://github.com/nlohmann/json.git
[submodule "googletest"]
	path = modules/googletest
	url = https://github.com/google/googletest.git
